@media(max-width:425px){
    *{
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
    html, body{
        padding: 0;
        margin: 0;
        width: 327px;
        background: url(../imagenes/celular.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        scroll-behavior: smooth;
    }
    .contenedor{
        display: none;
    }
    .marcos{
        display: none;
    }
    .informacion{
        display: none;
    }
    .contain{
        display: none;
    }
    .btn-menu{
        display: none;
    }
    .btn-menu{
        display: none;
    }
    #header-table{
        display: none;
    }
    .header1{
        display: none;
    }
    .img2{
        display: none;
    }
    .tablet1{
        display: none;
    }
    #btn-menu{
        display: none;
    }
    .cv{
        display: none;
    }
    .header-mobile{
        width: 100%;
        padding-bottom: 10px ;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 29, 39));
        position: fixed;
        overflow: hidden;
        text-align: center;
    }
    .lista1-mobile{
        margin: 0 10px;
        display: inline;
        color: rgb(132, 137, 141);
        font-weight: bold;
        font-size: 16px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        list-style-type: none;
    }
    .lista1-mobile:hover{
        color: white;
    }
    .header-mobile p{
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding: 0;
        margin: 0;
        letter-spacing: 5px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;;
    }
    .encabezado{
        margin-left: 20px;
        margin-right: 20px;
    }
    header{
        display:none;
    }
    #principal{
        width: 430px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #seccion1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 auto;
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }
    .info{
        width: 430px;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 25px;
    }
    .cuadroblanco {
        font-family: 'Raleway', sans-serif;
        color: rgb(252, 247, 247);
        width: 435;
        background-color: white;
    }
    .marcos1{
        font-size: 45px;
        width: 400px;
        color: white;
        text-align: center;
        margin-left: 15px;
        padding-left: 0px;
        margin-top: 0px;
        padding-top: 330px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: bold;
        text-shadow: 3px 3px 3px black;
        font-family: 'Prompt', sans-serif;
    }
    .for__mobile p{
        font-family: 'Prompt', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 23px;
        margin-top: 0px;
        margin-left: 0px;
        color: white;
        text-shadow: 3px 1px 3px black;
        margin-bottom: 340px;
    }
    .for__mobile{
        animation-name: aparicion1;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    @keyframes aparicion1{
        0%,50%{opacity: 0;}
        100%{opacity: 1;}
    }
    .informacion2{
        width: 200px;
        position: static;
        margin-top: 10px;
        margin-left: 15px;
        display: inline-block;
        border: 1px solid black;
        border-radius: 15px;
        overflow: hidden;
        background-color: beige;
    }
    .titulo1{
        text-align: center;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: rgb(43, 43, 179);
        padding-left: 5px;
        padding-top: 70px;
        width: 400px;
        margin-bottom: 0px;
    }
    .titulo2{
        text-align: center;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: rgb(43, 43, 179);
        padding-left: 5px;
        width: 400px;
        margin-bottom: 0px;
        padding-top: 70px;
    }
    .yo{
        text-align: center;
        margin:0 auto;
        font-size: 12px;
        width: 400px;
    }
    .bajosobremi{
    display: none;
    }
    .presentacion2{
        height: 200px;
        width: 200;
        border: solid 1px black;
    }
    .foto2{
        height: 200px;
        width: 200px;
    }
    .sobremi2{
        margin-top: 5px ;
        width: 200px;
    }
    .lista22{
        margin-left: 0px;
        margin-top: 4px;
        padding-left: 15px;
        list-style: none;
    }
    .negrita2{
        font-weight: bold;
        color: rgb(43, 43, 179);
        font-size: 12px;
    }
    .pading2{
        margin-bottom: 15px;
        font-size: 12px;
    }
    #mdf{
        width: 435px;
        background-color: white;
    }
    .tarea{
        text-align: center;
        color: black;
        margin-left: 5px;
        width: 400px;
        margin:0 auto;
        padding-left: 5px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-top: 0px;
        font-size: 14px;
    }
    .bajotarea{
        display: none;
    }
    .tareass{
        color: black;
        width: 390px;
        list-style-type: none;
        height: 230px;
        padding: 15px 5px 15px 5px;
        background-image: linear-gradient( rgb(231, 227, 227), rgb(172, 167, 167));
        box-shadow: 0px 0px 10px 0px black;
        overflow-y: scroll;
        margin: 0 auto
    }
    .bajofloat{
        display: none;
    }
    .item{
        color: black;
        font-size: 16px;;
    }
    .item1{
        margin-bottom: 10px;
        background-color: rgb(196, 200, 204);
        padding-left: 10px;
        border-left: solid 3px transparent;
    }
    .item1:hover{
        background-color: white;
        transition: all 200ms ease;
        cursor: pointer;
        font-weight: bold;
        border-color: rgb(119, 116, 116);
    }
    .item2{
        margin-bottom: 10px;
        background-color: rgb(182, 185, 189);
        padding-left: 10px;
        border-left: solid 3px transparent;
    }
    .item2:hover{
        background-color: white;
        transition: all 200ms ease;
        cursor: pointer;
        font-weight: bold;
        border-color: rgb(119, 116, 116);
    }
    footer{
        display: none;
    }
    .blanco{
        width: 435px;
        background-color: white;
    }
    .footer-mobile{
        font-family: 'Raleway', sans-serif;
        padding-top: 45px;
        width: 435px;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 29, 39));
        color:  rgb(137, 140, 143);
    }
    .footer-mobile p {
        margin-top: 0;
        padding-top: 10px;
        text-align: center;
    }
    .footer-mobile p a{
        color: rgb(137, 140, 143);
    }
    .footer-mobile>p:hover {
        text-decoration: underline;
    }
    .ubicacion1{
        text-align: center;
        margin-top: 30px;
    }
    .celda{
        display: block;
    }
    .formulario1{
        font-family: 'Raleway', sans-serif;
        width: 100%;
        background-color: rgba(245, 245, 220, 0);
        display: inline-block;
        padding: 30px 30px;
        border-radius: 15px;
        padding-left: 25px;
        padding-bottom: 15px;
        color: rgb(221, 218, 218);
    }
    .formulario1 h3{
        text-align: center;
        font-size: 30px;
        padding: 0px;
        margin: 0;
        margin-bottom: 15px;
    }
    .formulario1 input{
        background-color: rgba(49, 49, 49, 0.521);
        color: rgb(226, 223, 223);
        font-size: 16px;
        border: 1px solid rgb(180, 177, 177);
        width: 400px;
        height: 40px;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
    }
    .formulario1 input::selection{
        background-color: rgb(255, 255, 255);
        color:black;
    }
    .formulario1 label{
        text-align: left;
        margin-left: 10px;
        font-weight: bold;
    }
    .formulario1 textarea{
        background-color: rgba(49, 49, 49, 0.521);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: rgb(226, 223, 223);
        border: 1px solid rgb(180, 177, 177);
        width: 400px;
        margin-bottom: 15px;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        min-width: 400px;
        max-width: 400px;
        min-height: 150px;
        max-height: 150px;
    }
    .formulario1 input::placeholder, textarea::placeholder{
        color: rgb(182, 179, 179);
    }
    form .btn{
        margin:0 25%;
        width: 200px;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1.5px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 200ms ease;
    }
    form .btn:hover{
        background-color: rgba(85, 83, 83, 0.774);
        transform: scale(1.03);
    }
    .card-box{
        width: 45%;
        font-size: 4px;
        height: 130px;
        border-radius: 20px;
        overflow: hidden;
        transition: all 300ms ease;
        position: relative;
        float: left;
        margin: 10px;
        filter: brightness(0.5);
        box-shadow: 0px 0px 3px black;
    }
    .card-box:hover{
        font-weight: bold;
    }
    .h2{
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 12px;
        color: black;
    }
    .caja{
        padding-top: 0px;
        padding: 0px;
        max-width: 1016px;
    }
}
