@media(max-width:425px){
    *{
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
    html, body{
        padding: 0;
        margin: 0;
        width: 327px;
        background: url(../imagenes/celular.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        scroll-behavior: smooth;
    }
    .header-mobile{
        width: 440px;
        height: 60px;
        padding-top: 20px;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 29, 39));
        position: fixed;
    }
    .lista1-mobile{
        margin-left: 55px;
        color: rgb(132, 137, 141);
        font-weight: bold;
        font-size: 16px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        list-style-type: none;
    }
    .lista1-mobile:hover{
        color: white;
    }
    header{
        display:none;
    }
    #principal{
        width: 430px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #seccion1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 auto;
        margin-left: 0px;
        width: 435px;
    }
    .info{
        width: 430px;
        height: 570px;
        font-family: 'Raleway', sans-serif;
    }
    .cuadroblanco {
        font-family: 'Raleway', sans-serif;
        color: rgb(252, 247, 247);
        height: 600px;
        width: 435;
        background-color: white;
    }
    .marcos{
        font-size: 45px;
        width: 400px;
        color: white;
        text-align: left;
        padding-left: 5px;
        margin-top: 0px;
        padding-top: 330px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: bold;
        text-shadow: 3px 3px 3px black;
    }
    .estudiante{
        font-size: 23px;
        width: 260px;
        color: rgb(255, 252, 252);
        text-align: left;
        padding-left: 10px;
        padding-top: 0px;
        margin-top: 0px;
        text-shadow: 3px 3px 3px black;
    }
    .contenedor{
        margin-bottom: 340px;
        width: 430px;
        height: 50px;
        font-size: 23px;
        color: rgb(255, 252, 252);
        line-height: 45px;
        display: flex;
        text-shadow: 3px 3px 3px black;
        overflow: hidden;
    }
    .animacion{
        padding-left: 10px;
    }
    .informacion{
        margin-top: 15px;
        width: 415px;
        height: 300px;
    }
    .titulo1{
        text-align: center;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: rgb(43, 43, 179);
        padding-left: 5px;
        padding-top: 70px;
        width: 400px;
        margin-top: 60px;
        margin-bottom: 0px;
    }
    .yo{
        text-align: center;
        margin:0 auto;
        font-size: 12px;
        width: 400px;
    }
    .bajosobremi{
    display: none;
    }
    .presentacion{
        height: 200px;
        width: 200;
        border: solid 1px black;
    }
    .foto{
        height: 200px;
        width: 200px;
        float: left;
    }
    .sobremi{
        padding-top: 30px;
        height: 200px;
        width: 200px;
        float: left;
    }
    .lista2{
        margin-left: 0px;
        margin-top: 4px;
        padding-left: 15px;
        list-style: none;
    }
    .negrita{
        font-weight: bold;
        color: rgb(43, 43, 179);
        font-size: 12px;
    }
    .pading{
        margin-bottom: 15px;
        font-size: 12px;
    }
    #mdf{
        width: 435px;
        height: 350px;
        background-color: white;
    }
    .tarea{
        text-align: center;
        color: black;
        margin-left: 5px;
        width: 400px;
        margin:0 auto;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-top: 0px;
        font-size: 14px;
    }
    .bajotarea{
        display: none;
    }
    .tareass{
        color: black;
        width: 390px;
        list-style-type: none;
        height: 230px;
        padding: 15px 5px 15px 5px;
        background-image: linear-gradient( rgb(231, 227, 227), rgb(172, 167, 167));
        box-shadow: 0px 0px 10px 0px black;
        overflow-y: scroll;
        margin: 0 auto
    }
    .bajofloat{
        display: none;
    }
    .item{
        color: black;
        font-size: 16px;;
    }
    .item1{
        margin-bottom: 10px;
        background-color: rgb(196, 200, 204);
        padding-left: 10px;
        border-left: solid 3px transparent;
    }
    .item2{
        margin-bottom: 10px;
        background-color: rgb(182, 185, 189);
        padding-left: 10px;
        border-left: solid 3px transparent;
    }
    footer{
        display: none;
    }
    .blanco{
        width: 435px;
        background-color: white;
    }
    .footer-mobile{
        width: 435px;
        height: 200px;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 29, 39));
        color:  rgb(137, 140, 143);
    }
    .footer-mobile p {
        margin-top: 0;
        padding-top: 10px;
        text-align: center;
    }
    .footer-mobile p a{
        color: rgb(137, 140, 143);
    }
    .footer-mobile>p:hover {
        text-decoration: underline;
    }
    .ubicacion1{
        text-align: center;
        margin-top: 30px;
    }
}