*{
    margin: 0px;
    padding: 0px;

}
figure {
    text-align: center;
    background-color: rgb(55, 0, 252);
    

}
img{
    width: 50%;
    min-width: 300px;
    background-color: rgb(34, 245, 7);
    margin: 10px;
}
body {
    color: rgb(3, 3, 3);
    background-color: rgb(187, 255, 0);
}
h3 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    background-color: tomato;
    text-align: right;
    padding: 20px 10px 30px 5px;
    margin: 0px 0px 32px 0px;
}
p{
    margin-bottom: 32px;
    padding: 20px 48px;
    font-weight: bold ;

}
p:nth-child(even) {
    color: rgb(8, 8, 8);
    background-color: brown; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 10px 0 10px 0;
    text-decoration: line-through;
}
p:nth-child(odd) {
    background-color: darkolivegreen;
    color: rgb(255, 255, 255);
    margin: 10px 0 10px 0;
    font-style: italic;
}
p:nth-child(7) {
    color: black;
    font-size: 24px;
}