#principal{
    margin-left: 300px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1px;
}
#seccion1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 224px;
    margin-bottom: 263px;
}
.marcos{
    font-size: 90px;
    color: white;
    text-align: left;
    padding-left: 100px;
    margin-top: 224px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}
.estudiante{
    font-size: 45px;
    color: rgb(255, 252, 252);
    text-align: left;
    padding-left: 104px;
    padding-top: 0px;
    margin-top: 0px;
    text-shadow: 3px 3px 3px black;
}
.contenedor{
    margin-bottom: 263px;
    width: 962px;
    height: 50px;
    font-size: 45px;
    color: rgb(255, 252, 252);
    line-height: 45px;
    display: flex;
    text-shadow: 3px 3px 3px black;
    overflow: hidden;
}
.animacion{
    list-style: none;
    padding-left: 13px;
    animation: cambiar 10s infinite;
}
@keyframes cambiar {
    0%{margin-top:0;}
    45%{margin-top: 0;}
    50%{margin-top:-46px;}
    95%{margin-top: -46px;}
    100%{margin-top:0px;}
}