.cuadroblanco {
    background-color: rgb(253, 253, 253);
    font-family: 'Raleway', sans-serif;
    color: rgb(252, 247, 247);
}
.titulo2{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    color: rgb(43, 43, 179);
    padding-left: 30px;
    padding-top: 15px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.tt{
    color: rgb(43, 43, 179);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-left: 15px;
}
.bajotarea{
    margin-left: 15px;
    margin-right: 20px;
    color: rgb(43, 43, 179);
    height: 3px;
    background-color: rgb(43, 43, 179);
}
.tarea{
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-top: 0px;
    font-size: 16px;
    max-width: 1006px;
}
.caja{
    padding-top: 0px;
    padding: 20px;
    max-width: 1016px;
}
.card-box{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 300ms ease;
    position: relative;
    float: left;
    margin: 10px;
    filter: brightness(0.5);
    box-shadow: 0px 0px 3px black;
}
.card-box img{
    width: 100%;
    height: 70%;
    transition: all 300ms ease;
    border-bottom: 1px solid rgb(196, 182, 182);
}
.card-box:hover{
    transform: scale(1.05);
    border: rgb(124, 117, 117) solid 1px;
    cursor: pointer;
    filter: brightness(1);
    box-shadow: none;
    font-weight: bold;
}
.clear_both{
    clear: both;
}
.h2{
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
}
