#piedepagina{
    background-color: rgb(30, 29, 39);
    font-family: 'Raleway', sans-serif;
    color:  rgb(137, 140, 143);
    margin-left: 300px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.contacto1{
    color:  rgb(194, 200, 204);
    top: 50%;
    padding-top: 20px;
    width: 450px;
    margin-top: 0;
    margin-left: 40px;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(49, 49, 49, 0.521);
    padding-left: 20px;
    border-radius: 20px;
}
.contacto{
    display: flex;
    justify-content: space-between;
}
.contacto1 a{
    color: rgb(137, 140, 143);
    font-size: 18px;
}
.contacto p{
    font-size: 20px;
    margin-bottom: 20px;
}
.contacto1 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contacto1 iframe{
    width: 400px;
    height: 250px;
}
.ubicacion p{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.celda{
    display: block;
}
.formulario{
    width: 450px;
    display: inline-block;
    background-color: rgba(49, 49, 49, 0.521);
    padding: 30px 30px;
    border-radius: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    color: rgb(221, 218, 218);
}
.formulario h3{
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 0;
    margin-bottom: 15px;
}
.formulario input{
    background-color: rgba(49, 49, 49, 0.521);
    color: rgb(226, 223, 223);
    font-size: 16px;
    border: 1px solid rgb(180, 177, 177);
    width: 400px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.formulario input::selection{
    background-color: rgb(255, 255, 255);
    color:black;
}
.formulario label{
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
.formulario textarea{
    background-color: rgba(49, 49, 49, 0.521);
    border: 1px solid rgb(180, 177, 177);
    width: 400px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    max-height: 150px;
}
.formulario input::placeholder, textarea::placeholder{
    color: rgb(182, 179, 179);
}
form .btn{
    margin:0 25%;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 200ms ease;
}
form .btn:hover{
    background-color: rgba(85, 83, 83, 0.774);
    transform: scale(1.03);
}