@media(min-width:425px){
    .header-mobile{
        display: none;
    }
    .footer-mobile{
        display: none;
    }
    .for__mobile p {
        display: none;
    }
    .caja1{
        display: none;
    }
    .marcos1{
        display: none;
    }
    .informacion2{
        display: none;
    }
    .contain2{
        display: none;
    }
}
@media(min-width:1024px){
    .btn-menu{
        display: none;
    }
    #header-table{
        display: none;
    }
    .header1{
        display: none;
    }
    .img2{
        display: none;
    }
    .tablet1{
        display: none;
    }
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../imagenes/fondo.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;

}
body::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(43, 43, 179);
    
}
header{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 29, 39));
    width: 18.75em;
    height:100%;
    margin: 0px 0px;
    position: fixed;
    top: 0px;
}
.img1{
    width: 150px;
    height: 150px;
    border-radius:100%;
    margin: 25px 70px;
    margin-bottom: 0;
    border: solid;
    border-color: #374652;
    border-width: 6px;
    opacity: 0.8;
}
.img1:hover{
    border-color: white;
    transition: all 250ms ease;
    cursor:pointer;
    opacity: 1;
    margin-left: 70px;
}
.texto{
    color: rgb(194, 200, 204);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 31px;
    text-align: center;
    margin-top: 10px;
}
.container{
    margin-bottom: 30px;
}
.nombre{
    font-weight: bold;
}
.nombre:hover{
    color: white;
}
.lista1{
    color: rgb(132, 137, 141);
    font-weight: bold;
    display: block;
    padding-left: 55px;
    border-left: 5px solid transparent;
    font-size: 27px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 10px;
    list-style-type: none;
    margin-left: 0px;
    transition: all .3s ease;
} 
.lista1:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.027);
    padding-left: 60px;
    transition: all 300ms ease;
}
.header{
    animation: entrada 1s;
}
@keyframes entrada{
    0%,50%{margin-left: -510px;}
    
    100%{margin-top: 0;}
}
.cv{
    display: inline-block;
    background: linear-gradient(to left, rgb(21, 21, 102), black  );
    color: rgb(179, 173, 173);
    padding: 10px 80px;
    border-radius: 15px;
    font-size: 20px;
    border: white 1px solid;
    transition: all 300ms ease;
    font-weight: bold;
    margin-left: 400px;
    margin-top: 20px;
    position: relative;
}
.cv:hover {
    color: white;
    background: linear-gradient(to left, rgb(43, 43, 179), black  );
    transform: scale(1.05);
    box-shadow: 0px 0px 10px white;
}